
<div class="container">
  <div class="row">
    <h1 class="col-md-6 col-xs-12 titleLine">SoBuyLocal</h1>
    <h4 class="col-md-6 col-xs-12 byLine" >Find a great bargain on good food near you!</h4>
  </div>
  <div class="row">

  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries1.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Saving you money</h4>
      <p class="card-text">This app helps you to find bargains for food items available at a store near you.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries2.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Saving you time</h4>
      <p class="card-text">You are able to find a store near you where you can see a bargain and quickly get to it location by showing you location and how close you are using google maps. </p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries3.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Helping the environment</h4>
      <p class="card-text">Food waste generates approximately 2.1 million tonnes of CO2 emissions. Simply reducing the amount of good food we throw away could remove the equivalent of 1 in 4 cars from London's busy roads.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries5.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Reducing waste</h4>
      <p class="card-text">Food waste costs the average person in London £200 a year, rising to £700 for a family with children.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/groceries4.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Social Impact</h4>
      <p class="card-text">For every 5 bags of shopping bought, one is thrown away with food that could have been used to feed hungry mouths. Socially, we live in a city where both food waste and hunger coexist.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/sainsburylogo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Help improve local services</h4>
      <p class="card-text">Disposing of London’s food waste costs our waste authorities over £50million each year.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-front-img-top" src="/images/asdalogo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Increasing footfall</h4>
      <p class="card-text">Local stores are able to generate increased footfall by ecouraging local shoppers to visit their stores to take advantage of the deals on offer.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/tescologo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Managing Inventory</h4>
      <p class="card-text">Shops are able to manage their inventory more effectively by encouraging shopper to purchase items at a discount rather than loosing sales on items that cannot be sold because they have past their used by date.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-front-img-top" src="/images/chinatownlogo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Reducing operating costs</h4>
      <p class="card-text">Store manageers are able to reduce the cost of disposing of food and related materials that would have otherwise gone to waste.</p>
      <p class="card-text"><small class="text-muted">So buy local</small></p>
    </div>
  </div>
</div>
