<section>
  <div class="row">
    <h1 class="col-md-4 col-xs-8 pageLine">SoBuyLocal</h1>
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries1.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries2.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries3.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries4.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries5.png" alt="image">

  </div>
  <div class="rowUnderline">
    <p class="underLine"></p>
  </div>

  <h1 class="pageTitle">Login</h1>

  <form novalidate ng-submit="login.submit()">
    <div>
      <label>Email</label>
      <input class="form-control" type="email" placeholder="Email" ng-model="login.credentials.email">
    </div>
    <div>
      <label>Password</label>
      <input class="form-control" type="password" placeholder="Password" ng-model="login.credentials.password">
    </div>

    <button class="btn btn-primary login_button">Login</button>
  </form>
</section>
