<section>
  <div class="row">
    <h1 class="col-md-4 col-xs-8 pageLine">SoBuyLocal</h1>
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries1.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries2.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries3.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries4.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries5.png" alt="image">
  </div>
  <div class="rowUnderline">
    <p class="underLine"></p>
  </div>

  <h1 class="pageTitle">Products on Offer</h1>

  <h2 class="storeName">Store name: {{ main.currentUser.username }}</h2>
  <div >
    <ol>
      <li ng-repeat="product in productsOffered.all">

        <div class="rowOffer">

          <a ui-sref="productsShow({ id: product.id })">
            <h4> {{ product.name }} </h4>
          </a>
          <img class="offerImg" ng-src="{{ product.image }}" alt="product image"/>
          <h6 class="pricing"> Original Price: £{{ product.original_price | number : 2 }}    Offer Price: £{{ product.offer_price | number : 2 }}</h6>
          <h6 class="savings">  Savings: £{{ (product.original_price - product.offer_price)| number : 2 }}</h6>
          <h6> Offer End Date: {{ product.end_time | date:'dd/MM/yyyy'}} </h6>
          <button class="btn btn-danger" ng-click="productsOffered.offOffer(product, $index)" ng-if="product.is_available">Remove Offer</button>
        </div>
      </li>
    </ol>
  </div>

</section>
