
<div class="row">
  <h1 class="col-md-4 col-xs-8 pageLine">SoBuyLocal</h1>
  <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries1.png" alt="image">
  <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries2.png" alt="image">
  <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries3.png" alt="image">
  <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries4.png" alt="image">
  <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries5.png" alt="image">
</div>
<div class="rowUnderline">
  <p class="underLine"></p>
</div>

<h1 class="pageTitle">Edit Product</h1>

<section>
  <form class="form-inline" ng-submit="productsEdit.update()">
    <div>
      <label>Product name</label>
      <input class="form-control"  type="text" name="name" placeholder="Product Name" ng-model="productsEdit.product.name" class="u-full-width">
    </div>
    <div>
      <label>Product description</label>
      <input class="form-control" type="text" name="description" placeholder="Description" ng-model="productsEdit.product.description" class="u-full-width">
    </div>
    <div>
      <label>Product Image</label>
      <input class="form-control" type="text" name="productImage" placeholder="Product Image" ng-model="productsEdit.product.image" class="u-full-width">
    </div>
    <div>
      <label>Original Price</label>
      <input class="form-control" type="float" name="originalPrice" placeholder="Original Price" ng-model="productsEdit.product.original_price" class="u-full-width">
    </div>
    <div>
      <label>Offer Price</label>
      <input class="form-control" type="float" name="offerPrice" placeholder="Offer Price?" ng-model="productsEdit.product.offer_price" class="u-full-width">
    </div>
    <div>
      <label>Offer End Date</label>
      <input class="form-control" type="date" name="endTime" placeholder="Offer End Date?" ng-model="productsEdit.product.end_time" class="u-full-width">
    </div>
    <div>
      <label>Availability</label>
      <input class="form-control" type="checkbox" name="availability" placeholder="Item is available?" ng-model="productsEdit.product.is_available" class="u-full-width">
    </div>
    <div>
      <label>Quantity</label>
      <input class="form-control" type="number" name="Quantity" placeholder="Quantity?" ng-model="productsEdit.product.quantity" class="u-full-width">
    </div>
    <button class="btn btn-primary" >Update</button>
  </form>
</section>
