<section>
  <h1 class="productHeading1"> Products Offered</h1>
  <h2 class="productHeading2" >Store name: {{ main.currentUser.username }}</h2>
  <div >
    <ol>
      <li ng-repeat="product in productsOffered.all">
        <a ui-sref="productsShow({ id: product.id })">
          <h4 class="productList"> {{ product.name }} </h4>
          <img ng-src="{{ product.image }}" alt="product image"/>
        </a>
        <button ng-click="productsOffered.offOffer(product, $index)" ng-if="product.is_available">Remove from basket</button>
      </li>
    </ol>
  </div>

</section>
