<section>
  <h1>Show Product</h1>
  <h4>Product type: {{ productsShow.product.name }}</h4>
  <h4>Product description: {{ productsShow.product.description }}</h4>
  <img ng-src="{{ productsShow.product.image }}">
  <h4>Original price: £{{ productsShow.product.original_price }}</h4>
  <h4>Offer price: £{{ productsShow.product.offer_price }}</h4>
  <h4>Offer end date: {{ productsShow.product.end_time }}</h4>
  <h4>Offer available: {{ productsShow.product.is_available }}</h4>
  <h4>Quantity: {{ productsShow.product.quantity }}</h4>

  <google-map center="{ lat: 51.5, lng: -0.08 }"></google-map>

  <a ui-sref="productsEdit({ id: productsShow.product.id })" class="button">Edit<a>
  <button ng-if="productsShow.isLoggedIn()" ng-click="productsShow.delete()" ng-click="productsShow.delete()">Delete</button>

</section>
