<form novalidate ng-submit="register.submit()">
  <div>
    <label>Username</label>
    <input type="text" placeholder="Username" ng-model="register.user.username">
  </div>
  <div>
    <label>Email</label>
    <input type="email" placeholder="Email" ng-model="register.user.email">
  </div>
  <div>
    <label>Password</label>
    <input type="password" placeholder="Password" ng-model="register.user.password">
  </div>
  <div>
    <label>Password Confirmation</label>
    <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
  </div>
  <div>
    <label>Store name</label>
    <input type="text" name="store_name" placeholder="Store name" ng-model="register.user.store_name" class="u-full-width">
  </div>
  <div>
    <label>Store address</label>
    <input type="text" name="address" placeholder="Store address" ng-model="register.user.address" class="u-full-width">
  </div>

  <button>Register</button>
</form>
