<section>

  <div class="row">
    <h1 class="col-md-4 col-xs-8 pageLine">SoBuyLocal</h1>
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries1.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries2.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries3.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries4.png" alt="image">
    <img class="col-md-2 col-xs-2 pageLineImg" src="/images/groceries5.png" alt="image">
  </div>
  <div class="rowUnderline">
    <p class="underLine"></p>
  </div>

  <h1 class="pageTitle">Stores Index</h1>

  <ul>
    <li ng-repeat="user in usersIndex.all">
      <a ui-sref="usersShow({ id: user.id })">
        <h4 class="storeDetail">{{ user.username }}</h4>
      </a>
    </li>
  </ul>

  <google-map markers="usersIndex.all" center="usersIndex.location"></google-map>

</section>


<!-- <a ui-sref="productsPickedIndex({ storeId: user.id })">
  <h4 class="userHeading4">{{ user.username }}</h4>

</a> -->
