* {
  box-sizing: border-box;
}

img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-left: auto;
}

.google-map {
  img {
    border-radius: 0!important;
    width: auto;
    height: auto;
  }
}

h4 {
  font-size: 15px
}

.google-map {
  width: 400px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
}

.cards-single {
  &:nth-child(3n+1) {
    clear: left;
  }
}
