* {
  box-sizing: border-box;
}

.offerImg {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-left: auto;
}

.google-map {
  img {
    border-radius: 0!important;
    width: auto;
    height: auto;
  }
}

.google-map {
  width: 400px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
}

.card {
  width: 300px;
}

.cards-single {
  &:nth-child(3n+1) {
    clear: left;
  }
}

.card-img-top {
  height: 250px;
  width: 100%;
}

.card-img-prod {
  height: 250px;
  width: 90%;
}

.pageLineImg {
  height:44px;
  width:6%;
  padding:0;
  margin-top: 15px;
}

.navbar {
  background-color: #eff2f6;
}
.navbar-brand, {
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  margin-top: 20px;
}

.nav-item {
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  font-size: 25px;
  margin-top: 20px;
}

.form-control {
  width: 63%;
}

.byLine {
  font-size: 26px;
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  margin-top: 30px;
}

.titleLine {
  font-size: 70px;
  font-family: 'Baloo Bhaina', cursive;
  color: #E30520;
  margin-top: 15px;
}

.pageLine {
  font-size: 40px;
  font-family: 'Baloo Bhaina', cursive;
  color: #E30520;
  margin-top: 15px;
}


.pageTitle {
  font-size: 26px;
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  margin-top: 30px;
}

h4 {
  font-size: 20px;
}

.savings {
  font-size: 20px;
  color: #0099ff;
  font-weight: bold;
}

.userSavings {
  font-size: 20px;
  color: #ff6699;
  font-weight: bold;
}

.underLine {
  font-size: 15px;
  color: #0099ff;
  font-weight: bold;
  padding: 0px;
  margin-top: 0px;
}
