* {
  box-sizing: border-box;
}

.offerImg {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: auto;
}

.google-map {
  img {
    border-radius: 0!important;
    width: auto;
    height: auto;
  }
}

.google-map {
  width: 400px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
}

.card {
  // width: 300px;
  border-radius: 0px;
}

.card-home {
  width: 280px;
}

.cards-single {
  &:nth-child(3n+1) {
    clear: left;
  }
}

.card-front-img-top {
  height: 250px;
  width: 100%;
}

.card-img-top {
  // height: 250px;
  width: 100%;
}

.card-img-prod {
  // height: 250px;
  width: 90%;
}

.pageLineImg {
  height:44px;
  width:6%;
  padding:0;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .pageLineImg {
    clear: none;
    height:30px;
    width:6%;
    padding:0;
    margin-top: 15px;
  }
}

.navbar {
  background-color: #eff2f6;
}

.navbar-brand, {
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  margin-top: 20px;
}

// @media (max-width: 991px) {
// .navbar-brand, {
//   font-family: 'Baloo Bhaina', cursive;
//   color: #004995;
//   margin-top: 20px;
//   }
// }

.navbar-toggleable-md {
  clear: left;
  .navbar-nav {
    li:first-child {
      margin-top: 0;
    }
  }
  @media (min-width: 991px) {
    clear: none;
    .navbar-nav {
      li:first-child {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 991px) {
.navbar-toggleable-md .navbar-nav {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0;
  }
}

.nav-item {
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  font-size: 25px;
  float: right;
  margin-top: 30px;
}

@media (max-width: 991px) {
.nav-item {
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  font-size: 25px;
  float: right;
  margin-top: 30px;
  }
}

.navbar-toggler {
  float: right;
  margin-top: 25px;
}

.form-control {
  width: 63%;
}

  .byLine {
    font-size: 26px;
    font-family: 'Baloo Bhaina', cursive;
    color: #004995;
    margin-top: 30px;
  }

@media (max-width: 991px) {
  .byLine {
    clear: left;
    font-size: 26px;
    font-family: 'Baloo Bhaina', cursive;
    color: #004995;
    margin-top: 0px;
  }
}

.titleLine {
  font-size: 70px;
  font-family: 'Baloo Bhaina', cursive;
  color: #E30520;
  margin-top: 15px;
}

@media (max-width: 991px) {
 .titleLine {
   font-size: 36px;
   font-family: 'Baloo Bhaina', cursive;
   color: #E30520;
   margin-top: 15px;
 }
}

.pageLine {
  font-size: 40px;
  font-family: 'Baloo Bhaina', cursive;
  color: #E30520;
  margin-top: 15px;
}

.pageTitle {
  font-size: 26px;
  font-family: 'Baloo Bhaina', cursive;
  color: #004995;
  margin-top: 30px;
}

h4 {
  font-size: 20px;
}

.savings {
  font-size: 20px;
  color: #0099ff;
  font-weight: bold;
}

.userSavings {
  font-size: 20px;
  color: #ff6699;
  font-weight: bold;
}

.underLine {
  border-bottom: 2px solid #0099ff;
  width: 65%;
}

.storeName {
  color: #A9A9A9;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
}

.storeDetail {
  color: #A9A9A9;
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.rowOffer {
  border-bottom: 1px solid #bfbfbf;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 10px;
}

.offerLine {
  color: #A9A9A9;
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.homeButton {
  height: 40px;
  width: 40px;
  margin-bottom: 0px;
}
